@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  border: 1px solid black;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container-sm {
  max-width: 1300px;
  margin: 0 auto;
  @apply px-4 sm:px-8;
}

.hero-bg {
  background-image: url("/image/HeroImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.heading {
  font-family: var(--font-poppins), sans-serif;
}

.body-text {
  font-family: var(--font-source-sans), sans-serif;
}

.mobile-bg {
 background-image: url("/image/BGImage.svg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.desktop-bg {
  background-image: url("/image/Rectangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* In globals.css or other stylesheets */
.heading {
  font-family: var(--font-inter);
  font-weight: 700;
}

.body-text {
  font-family: var(--font-open-sans);
  font-weight: 400;
}