@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container-sm {
  max-width: 1300px;
  margin: 0 auto;
  @apply px-4 sm:px-8;
}

.hero-bg {
  background-image: url("/image/HeroImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.heading {
  font-family: var(--font-poppins), sans-serif;
}

.body-text {
  font-family: var(--font-source-sans), sans-serif;
}

/* .background{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5)),
    url("image/HeroImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000BF;
}  */

.mobile-bg {
 background-image: url("/image/BGImage.svg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.desktop-bg {
  background-image: url("/image/Rectangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .background {
  background: url("/image/HeroImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */



/* In globals.css or other stylesheets */
.heading {
  font-family: var(--font-inter);
  font-weight: 700;
}

.body-text {
  font-family: var(--font-open-sans);
  font-weight: 400;
}