@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.hide-scroll::-webkit-scrollbar {
  display: none;
  /* scrollbar-width: none; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.container-sm {
  max-width: 1300px;
  margin: 0 auto;
  @apply px-4 sm:px-20;
}

.hero-bg {
  background-image: url("/image/crane.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mobile-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("/image/crane.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
  }
  

.desktop-bg {
  background-image: url("/image/crane.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200vh;
}


/* In globals.css or other stylesheets */
.heading {
  font-family: var(--font-inter);
  font-weight: 700;
}

.body-text {
  font-family: var(--font-open-sans);
  font-weight: 400;
}

.select-class {
  @apply h-12 w-full appearance-none rounded-lg border-[#000000] bg-[#0000000F] px-4 py-3 text-[#000000E5] hover:border focus:border-[3px] focus:bg-white focus:outline-none;
}

.input-class {
  @apply h-12 w-full rounded-lg  bg-[#EBEBEB] px-4 py-3 text-[#000000E5] hover:border focus:border-[3px] focus:bg-white focus:outline-none;
}